.container{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    background-color: #ffffff;
    padding: 0px 60px 20px 60px;
    margin: 20px auto 20px auto;
    width:50%
}


.text{
    font-weight: 400;
    margin: 50px 0 50px 0;
    padding: 0 50px 0 50px;
    font-size: 20px;
}

.title{
    font-size: 60px;
    font-family: NunitoSansBold;
}

.starCountText{
    color: #d2d2d2;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}