.image{
    width: 100%;
}

.container{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    background-color: #ffffff;
    margin: 20px 40px 40px 40px;
    padding: 100px;
}

.title{
    font-size: 60px;
    font-weight: 700;  
    letter-spacing: -0.56px;
    text-align: left;
}

.text{
    font-size: 22px;
    font-weight: 700;
    white-space:pre-wrap;

}