.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 10px 0;
}

.timePickerContainer{
    width: 300px;
}

.icon{
    height: 40px;
    cursor: pointer;
    width: 40px;
    margin-left: 20px;
}