.energyBoxContainer{
    border-radius: 15px;
    display: flex;
    padding: 15px;
    width: calc(100% - 30px);
    background-color: #FFFFFF;
    position: relative;
}

.chart{
    width: 150px;
}

.titleText{
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.21px;
    line-height: 40px;
}

.text{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.chartWrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.textContainer{
    width: 40%;
}

.saladWallImage{
    margin-left: 20px
}

.iconStyle{
    position: absolute;
    bottom: 20px;
    right: 20px;
}   