.energyBoxContainer{
    border-radius: 15px;
    display: flex;
    padding: 15px;
    width: calc(100% - 30px);
    background-color: #FFFFFF;
    position: relative;
}

.chart{
    width: 150px;
}

.chartWrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.textContainer{
    width: 40%;
}

.saladWallImage{
    margin-left: 20px
}

.iconStyle{
    position: absolute;
    bottom: 20px;
    right: 20px;
}   